* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.fontLogo {
  font: normal normal 700 32px "Playfair Display";
}
.font-medium20 {
  font: normal normal 400 20px "Raleway";
}
.font-medium26 {
  font: normal normal 400 26px "Raleway";
  color: #ffffff;
}
.font-medium28 {
  font: normal normal 400 28px "Raleway";
  color: #e52b2b;
}
.font-medium30 {
  font: normal normal 400 30px "Raleway";
}
h2 {
  font: normal normal 400 68px "Raleway";
}
h3 {
  color: #937a60;
  font: normal normal 400 55px "Raleway";
}
.buttons {
  width: 260px;
  height: 56px;
  padding: 14px 20px;
  border-radius: 8px;
  background-color: #af9678;
  border: 0px;
}

.header {
  background-image: url(img/1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__menu {
  padding-top: 34px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.header__menu__logo {
  color: #c0ad95;
}

.header__menu__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 40px;
}

.header__menu__list li {
  padding-top: 14px;
}

.header__menu__phone {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  text-align: center;
}
.header__page {
  display: flex;
}
.header__page__order {
  display: flex;
  margin-top: 207px;
  flex-direction: column;
  padding-bottom: 304px;
  color: #ffffff;
  min-width: 700px;
}

.header__page__order > p:first-of-type {
  padding-top: 43px;
  font: normal normal 400 33px "Raleway";
  color: #ffffff;
  line-height: 28px;
  text-shadow: 3px 1px 6px #bad90042;
  padding-bottom: 20px;
}
.header__page__timer {
  width: 215px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-left: 0px;
}

.header__page__order li {
  width: 44px;
  height: 40px;
  background-color: #ffffff;
  text-align: center;
  margin-top: 9px;
  color: #000000;
}
.header__page__timer__days {
  color: #ffffff;
  display: flex;
  gap: 16px;
}

.header__page__order form > input {
  width: 510px;
  height: 51px;
  border-radius: 8px;
  padding-left: 20px;
  margin-top: 30px;
  border: 0px;
  margin-bottom: 28px;
}

.header__icons {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  margin-bottom: 44px;
  width: 100%;
}
.header__icons__line1 {
  border-right: 2px solid #ffffff;
  height: 65%;
  margin-right: 13px;
}
.header__icons__logo {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-end;
  margin-top: 34px;
  margin-bottom: 34px;
}
.header__icons__line2 {
  height: 30%;
  border-right: 2px solid #ffffff;
  margin-right: 13px;
}
.header__icons__logo img {
  height: 26px;
  width: 26px;
}

.price__request {
  margin-top: 116px;
  display: flex;
  gap: 88px;
}
.price__request__img {
  background-image: url(img/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 360px;
  height: 554px;
  position: relative;
}
.img__lines {
  background-color: #000000;
  position: absolute;
}
.line1 {
  width: 100px;
  height: 2px;
  right: 0px;
  top: -28px;
}
.line2 {
  width: 2px;
  height: 100px;
  right: -28px;
  top: 0px;
}

.line3 {
  width: 100px;
  height: 2px;
  left: 0px;
  bottom: -28px;
}
.line4 {
  width: 2px;
  height: 100px;
  left: -28px;
  bottom: 0px;
}
.price__request__title {
  display: flex;
  flex-direction: column;
}

.price__request__title p {
  color: #11100e;
  text-shadow: 1px -1px 7px #bad9005c;
  padding-bottom: 34px;
  padding-top: 26px;
}
.aboutus {
  margin-top: 117px;
  border-top: 2px solid #af9678;
}
.aboutus__title {
  color: #937a60;
  text-align: center;
  padding-top: 59px;
  margin-bottom: 40px;
}
.aboutus__info {
  color: #000000;
  line-height: 44px;
}
.aboutus > .container > h4 {
  color: #937a60;
  font: normal normal 400 55px "Raleway";
  text-align: center;
  margin-bottom: 79px;
  margin-top: 144px;
}
.aboutus__pluses {
  display: flex;
  gap: 59px;
  justify-content: space-between;
  margin-bottom: 76px;
  text-align: center;
}

.aboutus__rassrochka {
  border-top: 2px solid #af9678;
  padding-left: 30px;
  padding-top: 45px;
  padding-right: 38px;
  border-right: 2px solid #af9678;
  padding-bottom: 47px;
  margin-right: 140px;
  margin-left: 80px;
  position: relative;
}
.aboutus__rassrochka__line1 {
  width: 2px;
  height: 89px;
  left: 0px;
  top: -89px;
  background-color: #af9678;
  position: absolute;
}
.aboutus__rassrochka__line2 {
  width: 400px;
  height: 2px;
  right: 0px;
  bottom: 0px;
  background-color: #af9678;
  position: absolute;
}
.catalog {
  margin-top: 145px;
}

.catalog__shkafs {
  display: flex;
  gap: 83px;
  justify-content: space-between;
}
.catalog__shkafi {
  width: 332px;
  height: 608px;
  margin-top: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.line5 {
  width: 100px;
  height: 2px;
  left: 0px;
  top: -28px;
}
.line6 {
  width: 2px;
  height: 100px;
  left: -28px;
  top: 0px;
}
.catalog__shkafi p {
  color: #ffffff;
  text-align: center;
}
.catalog__shkafi1 {
  background-image: url(img/Rectangle\ 48.png), url(img/furniture1.jpg);
}
.catalog__shkafi2 {
  background-image: url(img/Rectangle\ 48.png), url(img/furniture2.jpg);
}
.catalog__shkafi3 {
  background-image: url(img/Rectangle\ 48.png), url(img/furniture3.jpg);
}
.materials {
  margin-top: 159px;
}
.materials__choice {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 59px;
}
.materials__choice p {
  color: #000000;
  font: normal normal 400 40px "Raleway";
  width: 337px;
  height: 53px;
  text-align: center;
}
.materials__choice p:first-of-type {
  padding-bottom: 25px;
  border-bottom: solid 2px #000000;
}
.materials__img {
  display: flex;
  justify-content: space-around;
}
.materials__name {
  display: flex;
  justify-content: space-around;
  padding-top: 28px;
  margin-bottom: 150px;
}
.specialOffers__types {
  margin-top: 92px;
  display: flex;
  gap: 78px;
  flex-wrap: wrap;
  row-gap: 128px;
  margin-bottom: 97px;
}
.specialOffers__types__cards {
  height: 432px;
  width: 340px;
}
.specialOffers__types__cards > div:last-child {
  display: inline-block;
  background-color: #11100e;
  padding: 10px 19px;
  font: normal normal 400 19px "Raleway";
  color: #ffffff;
  position: relative;
  bottom: 59px;
  right: 20px;
}
.specialOffers__types__cards > div:first-child {
  position: relative;
  top: 446px;
}
.specialOffers__types > div:nth-of-type(1) {
  background-image: url(img/Rectangle\ 26.png);
}
.specialOffers__types > div:nth-of-type(2) {
  background-image: url(img/Rectangle\ 27.png);
}
.specialOffers__types > div:nth-of-type(3) {
  background-image: url(img/Rectangle\ 28.png);
}
.specialOffers__types > div:nth-of-type(4) {
  background-image: url(img/Rectangle\ 29.png);
}
.specialOffers__types > div:nth-of-type(5) {
  background-image: url(img/Rectangle\ 30.png);
}
.specialOffers__types > div:nth-of-type(6) {
  background-image: url(img/Rectangle\ 31.png);
}

.specialOffers__price {
  display: flex;
  justify-content: space-between;
}
.miniprice {
  position: absolute;
  color: #937a60;
  font-size: 13px;
  right: -3px;
  top: -7px;
}
.price1 p:last-child {
  color: #937a60;
}

.price4 > div > p {
  font-size: 25px;
  color: #937a60;
}

.specialOffers__showmore {
  color: #937a60;
  width: 276px;
  text-align: center;
  border-bottom: 1px solid #937a60;
  margin: 0 auto;
}
.akcii {
  margin-top: 104px;
  background-color: #161513;
}
.akcii__call {
  padding-top: 134px;
  text-align: center;
  color: #ffffff;
  background-image: url(img/phone.png);
  background-repeat: no-repeat;
  background-position: 108% 80px;
}

.akcii__call input {
  width: 758px;
  height: 64px;
  border-radius: 8px;
  padding-left: 32px;
  color: #11100e75;
  margin-bottom: 20px;
  margin-top: 43px;
}
.akcii__call > button {
  box-shadow: 1px 3px 16px #ffdbb038;
  margin-bottom: 134px;
}
.reviews {
  margin-top: 148px;
  margin-bottom: 116px;
}
.reviews__username {
  font-size: 37px;
  margin-top: 59px;
  margin-bottom: 39px;
  margin-left: 47px;
}
.reviews__userReview {
  margin-left: 47px;
  margin-bottom: 27px;
  line-height: 40px;
}
.reviews__List {
  display: flex;
  gap: 18px;
  justify-content: center;
  margin-bottom: 149px;
}
.reviews__List button {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background: #ffffff;
  border-color: #937a60;
}
.reviews__List button:hover {
  background: #937a60;
}
.aboutManufacure__container1 {
  margin: 0 auto;
  background-image: url(img/c4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutManufacure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 148px;
}
.aboutManufacure__list {
  display: flex;
  flex-direction: column;
  background: url(img/Rectangle\ 20.png) no-repeat;
  padding-top: 132px;
  padding-bottom: 132px;
  width: 948px;
  height: 340px;
  justify-content: center;
  align-items: center;
  margin-top: 132px;
  margin-bottom: 132px;
  gap: 35px;
}
.aboutManufacure__list > li {
  color: #ffffff;
}
.aboutManufacure__list > li span {
  padding-right: 5px;
  font-size: 37px;
}
.aboutJob__scheme {
  display: flex;
  margin-top: 97px;
  padding-left: 41px;
  margin-bottom: 148px;
  flex-direction: column;
  flex-wrap: wrap;
  height: 442px;
  gap: 70px;
}
.aboutJob__scheme div {
  display: flex;
  align-items: center;
}
.aboutJob__scheme div p {
  padding-left: 28px;
}
.aboutJob__scheme > .aboutJob__scheme__icon1 > img:last-of-type {
  position: relative;
  left: 55px;
}
.aboutJob__scheme > .aboutJob__scheme__icon4 > img:last-of-type {
  position: relative;
  bottom: -100px;
  right: 10px;
}
.aboutJob__scheme > .aboutJob__scheme__icon5 > img:last-of-type {
  position: relative;
  right: 540px;
}
.aboutJob__scheme > .aboutJob__scheme__icon2 > img:last-of-type {
  position: relative;
  top: 80px;
  right: 340px;
}
.aboutJob__scheme > .aboutJob__scheme__icon3 > img:last-of-type {
  position: relative;
  left: 101px;
}
.priceRequest1 {
  background: url(img/image\ 37.png) left no-repeat,
    url(img/Rectangle\ 42.png) right;
}
.priceRequest1__info {
  display: flex;
  flex-direction: column;
  padding-bottom: 237px;
  padding-top: 287px;
  padding-left: 510px;
  color: #ffffff;
}

.priceRequest1__info > p {
  text-shadow: 1px -1px 7px #bad9005c;
  padding-top: 26px;
  padding-bottom: 34px;
  font-size: 29px;
}
.priceRequest1__info > button {
  box-shadow: 1px 3px 16px #ffdbb038;
}
.contacts {
  margin-top: 149px;
}
.contacts__info {
  display: flex;
  margin-top: 52px;
  gap: 149px;
  margin-bottom: 190px;
}
.contacts__info__adress {
  margin-top: 125px;
  margin-left: 83px;
}
.contacts__info__adress img {
  margin-right: 18px;
}
.contacts__info__adress p {
  padding-bottom: 50px;
}
.contacts__info__request {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background: url(img/Rectangle\ 43.png) no-repeat;
  background-size: cover;
  width: 540px;
  height: 720px;
}
.contacts__info__request p {
  color: #ffffff;
  margin-top: 66px;
  margin-bottom: 36px;
}
.contacts__info__request form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #11100e75;
  margin-bottom: 50px;
}
.contacts__info__request input {
  width: 412px;
  height: 56px;
  border-radius: 10px;
  padding-left: 29px;
  color: #000000;
}
.contacts__info__request textarea {
  width: 412px;
  height: 242px;
  border-radius: 10px;
  padding-left: 29px;
  color: #11100e75;
}
.contacts__info button {
  box-shadow: 1px 3px 16px #ffdbb038;
}
.footer {
  background-color: #937a60;
}
.footer__info {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
}
.footer__info p {
  padding-right: 127px;
}
.footer__info > ul {
  display: flex;
  flex-direction: column;
  width: 259px;
  gap: 16px;
}
