* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  background-image: url(img/1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu {
  padding-top: 34px;
  display: flex;
  justify-content: space-between;
}

.menu > p {
  font: normal normal 700 32px "Playfair Display";
  color: #c0ad95;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 40px;
}

.menu li {
  padding-top: 14px;
  font: normal normal 400 20px "Raleway";
  color: #ffffff;
}

.number {
  font: normal normal 400 20px "Raleway";
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-top: 4px;
}

.zakaz {
  display: flex;
  margin-top: 207px;
  flex-direction: column;
  width: 700px;
  padding-bottom: 304px;
}

.zakaz h1 {
  font: normal normal 400 70px "Raleway";
  color: #ffffff;
}

.zakaz > p:nth-of-type(1) {
  padding-top: 43px;
  font: normal normal 400 33px "Raleway";
  color: #ffffff;
  line-height: 28px;
  text-shadow: 3px 1px 6px #bad90042;
}

.zakaz > p:nth-of-type(2) {
  font: normal normal 400 26px "Raleway";
  color: #ffffff;
  padding-top: 20px;
}

.time {
  color: #ffffff;
  display: flex;
  font: normal normal 400 21px "Raleway";
  gap: 14px;
}

.zakaz form > input {
  width: 510px;
  height: 51px;
  border-radius: 8px;
  font: normal normal 400 26px "Raleway";
  padding-left: 20px;
  margin-top: 30px;
  border: 0px;
  margin-bottom: 28px;
}

.buttons {
  width: 260px;
  height: 56px;
  padding: 14px 20px;
  border-radius: 8px;
  font: normal normal 400 26px "Raleway";
  color: #ffffff;
  background-color: #af9678;
  border: 0px;
}

.zakaz ul {
  width: 215px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-left: 0px;
}

.zakaz li {
  width: 44px;
  height: 40px;
  background-color: #ffffff;
  font: normal normal 400 26px "Raleway";
  text-align: center;
  margin-top: 9px;
}
.header1 {
  display: flex;
}
.icons {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  margin-bottom: 44px;
  width: 100%;
}
.icons div:first-of-type {
  border-right: 2px solid #ffffff;
  height: 65%;
  margin-right: 13px;
}
.icons div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-end;
  margin-top: 34px;
  margin-bottom: 34px;
}
.icons div:last-of-type {
  height: 30%;
  border-right: 2px solid #ffffff;
  margin-right: 13px;
}
.icons div img {
  height: 26px;
  width: 26px;
}

.pricerequest {
  margin-top: 116px;
  display: flex;
  gap: 88px;
}
.pricerequest > div:first-child {
  background-image: url(img/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 360px;
  height: 554px;
  position: relative;
}
.line {
  background-color: #000000;
  position: absolute;
}
.line1 {
  width: 100px;
  height: 2px;
  right: 0px;
  top: -28px;
}
.line2 {
  width: 2px;
  height: 100px;
  right: -28px;
  top: 0px;
}

.line3 {
  width: 100px;
  height: 2px;
  left: 0px;
  bottom: -28px;
}
.line4 {
  width: 2px;
  height: 100px;
  left: -28px;
  bottom: 0px;
}
.pricerequest > div:last-child {
  display: flex;
  flex-direction: column;
}
.pricerequest > div:last-child h2 {
  font: normal normal 400 68px "Raleway";
  color: #11100e;
  padding-bottom: 26px;
}
.pricerequest > div:last-child p {
  font: normal normal 400 30px "Raleway";
  color: #11100e;
  text-shadow: 1px -1px 7px #bad9005c;
  padding-bottom: 34px;
}
.aboutus {
  margin-top: 117px;
  border-top: 2px solid #af9678;
}
.aboutus h2 {
  color: #937a60;
  font: normal normal 400 68px "Raleway";
  text-align: center;
  padding-top: 59px;
  margin-bottom: 40px;
}
.aboutus p {
  color: #000000;
  font: normal normal 400 30px "Raleway";
  line-height: 44px;
}
.aboutus h4 {
  color: #937a60;
  font: normal normal 400 55px "Raleway";
  text-align: center;
  margin-bottom: 79px;
  margin-top: 144px;
}
.pluses {
  display: flex;
  gap: 59px;
  justify-content: space-between;
  margin-bottom: 76px;
}
.pluses div p {
  font: normal normal 400 21px "Raleway";
  text-align: center;
}
.rassrochka {
  border-top: 2px solid #af9678;
  padding-left: 30px;
  padding-top: 45px;
  padding-right: 38px;
  border-right: 2px solid #af9678;
  padding-bottom: 47px;
  margin-right: 140px;
  margin-left: 80px;
  position: relative;
}
.rassrochka1 {
  width: 2px;
  height: 89px;
  left: 0px;
  top: -89px;
  background-color: #af9678;
  position: absolute;
}
.rassrochka2 {
  width: 400px;
  height: 2px;
  right: 0px;
  bottom: 0px;
  background-color: #af9678;
  position: absolute;
}
.catalog {
  margin-top: 145px;
}
h3 {
  color: #937a60;
  font: normal normal 400 55px "Raleway";
}
.shkafs {
  display: flex;
  gap: 83px;
  justify-content: space-between;
}
.shkafi {
  width: 332px;
  height: 608px;
  margin-top: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.line5 {
  width: 100px;
  height: 2px;
  left: 0px;
  top: -28px;
}
.line6 {
  width: 2px;
  height: 100px;
  left: -28px;
  top: 0px;
}
.shkafi p {
  color: #ffffff;
  font: normal normal 400 30px "Raleway";
  text-align: center;
}
.shkafi1 {
  background-image: url(img/Rectangle\ 48.png), url(img/furniture1.jpg);
}
.shkafi2 {
  background-image: url(img/Rectangle\ 48.png), url(img/furniture2.jpg);
}
.shkafi3 {
  background-image: url(img/Rectangle\ 48.png), url(img/furniture3.jpg);
}
.materials {
  margin-top: 159px;
}
.materials div:first-of-type {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 59px;
}
.materials div:first-of-type p {
  color: #000000;
  font: normal normal 400 40px "Raleway";
  width: 337px;
  height: 53px;
  text-align: center;
}
.materials div:first-of-type p:first-of-type {
  padding-bottom: 25px;
  border-bottom: solid 2px #000000;
}
.materials1 {
  display: flex;
  justify-content: space-around;
}
.materials div:last-of-type {
  display: flex;
  justify-content: space-around;
  padding-top: 28px;
  font: normal normal 400 30px "Raleway";
  margin-bottom: 150px;
}
.types {
  margin-top: 92px;
  display: flex;
  gap: 78px;
  flex-wrap: wrap;
  row-gap: 128px;
  margin-bottom: 97px;
}
.pic {
  height: 432px;
  width: 340px;
}
.pic > div:last-child {
  display: inline-block;
  background-color: #11100e;
  padding: 10px 19px;
  font: normal normal 400 19px "Raleway";
  color: #ffffff;
  position: relative;
  bottom: 59px;
  right: 20px;
}
.pic > div:first-child {
  position: relative;
  top: 446px;
}
.types > div:nth-of-type(1) {
  background-image: url(img/Rectangle\ 26.png);
}
.types > div:nth-of-type(2) {
  background-image: url(img/Rectangle\ 27.png);
}
.types > div:nth-of-type(3) {
  background-image: url(img/Rectangle\ 28.png);
}
.types > div:nth-of-type(4) {
  background-image: url(img/Rectangle\ 29.png);
}
.types > div:nth-of-type(5) {
  background-image: url(img/Rectangle\ 30.png);
}
.types > div:nth-of-type(6) {
  background-image: url(img/Rectangle\ 31.png);
}
.types div p {
  font: normal normal 400 30px "Raleway";
  color: #000000;
}
.price {
  display: flex;
  justify-content: space-between;
}
.miniprice {
  position: absolute;
  color: #937a60;
  font-size: 13px;
  right: -3px;
  top: -7px;
  font: normal normal 400 13px "Raleway";
}
.price1 p:last-child {
  font: normal normal 400 28px "Raleway";
  color: #937a60;
}
.price2 > div p {
  font: normal normal 400 28px "Raleway";
  color: #e52b2b;
}
.price3 > div p {
  font: normal normal 400 28px "Raleway";
  color: #e52b2b;
}
.price4 > div p {
  font: normal normal 400 25px "Raleway";
  color: #937a60;
}
.price5 > div p {
  font: normal normal 400 28px "Raleway";
  color: #e52b2b;
}
.price6 > div p {
  font: normal normal 400 28px "Raleway";
  color: #e52b2b;
}
.specialOffers > p {
  color: #937a60;
  font: normal normal 400 30px "Raleway";
  width: 276px;
  text-align: center;
  border-bottom: 1px solid #937a60;
  margin: 0 auto;
}
.akcii {
  margin-top: 104px;
  background-color: #161513;
}
.call {
  padding-top: 134px;
  text-align: center;
  font: normal normal 400 68px "Raleway";
  color: #ffffff;
  background-image: url(img/phone.png);
  background-repeat: no-repeat;
  background-position: 108% 80px;
}
.call p {
  font-size: 30px;
}
.call input {
  width: 758px;
  height: 64px;
  border-radius: 8px;
  padding-left: 32px;
  font: normal normal 400 30px "Raleway";
  color: #11100e75;
  margin-bottom: 20px;
  margin-top: 43px;
}
.call > button {
  box-shadow: 1px 3px 16px #ffdbb038;
  margin-bottom: 134px;
}
.reviews {
  margin-top: 148px;
  margin-bottom: 116px;
}
.reviews p:first-of-type {
  font: normal normal 400 37px "Raleway";
  margin-top: 59px;
  margin-bottom: 39px;
  margin-left: 47px;
}
.reviews p:last-of-type {
  font: normal normal 400 30px "Raleway";
  margin-left: 47px;
  margin-bottom: 27px;
}
.reviewsList {
  display: flex;
  gap: 18px;
  justify-content: center;
  margin-bottom: 149px;
}
.reviewsList button {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background: #ffffff;
  border-color: #937a60;
}
.reviewsList button:hover {
  background: #937a60;
}
.container1 {
  width: 1440px;
  margin: 0 auto;
}
.aboutManufacure {
  background: url(img/image\ 34.png) left top no-repeat,
    url(img/image\ 33.png) right top no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 148px;
}
.aboutManufacure ul {
  display: flex;
  flex-direction: column;
  background: url(img/Rectangle\ 20.png) no-repeat;
  padding-top: 132px;
  padding-bottom: 132px;
  width: 948px;
  height: 340px;
  justify-content: center;
  align-items: center;
  margin-top: 132px;
  margin-bottom: 132px;
  gap: 35px;
}
.aboutManufacure ul li {
  font: normal normal 400 30px "Raleway";
  color: #ffffff;
}
.aboutManufacure ul li span {
  padding-right: 5px;
  font-size: 37px;
}
.aboutJob {
  display: flex;
  margin-top: 97px;
  padding-left: 41px;
  margin-bottom: 148px;
  font: normal normal 400 30px "Raleway";
  flex-direction: column;
  flex-wrap: wrap;
  height: 442px;
  gap: 70px;
}
.aboutJob div {
  display: flex;
  align-items: center;
}
.aboutJob div p {
  padding-left: 28px;
}
.aboutJob > div:first-of-type > img:last-of-type {
  position: relative;
  left: 55px;
}
.aboutJob > div:nth-of-type(4) > img:last-of-type {
  position: relative;
  bottom: -100px;
  right: 10px;
}
.aboutJob > div:nth-of-type(5) > img:last-of-type {
  position: relative;
  right: 540px;
}
.aboutJob > div:nth-of-type(2) > img:last-of-type {
  position: relative;
  top: 80px;
  right: 340px;
}
.aboutJob > div:nth-of-type(3) > img:last-of-type {
  position: relative;
  left: 101px;
}

.priceRequest1 {
  background: url(img/image\ 37.png) left no-repeat,
    url(img/Rectangle\ 42.png) right no-repeat;
  display: flex;
  flex-direction: column;
  padding-bottom: 268px;
  padding-top: 287px;
  padding-left: 650px;
}
.priceRequest1 p {
  font: normal normal 400 68px "Raleway";
  color: #ffffff;
}
.priceRequest1 p:last-of-type {
  font-size: 30px;
  text-shadow: 1px -1px 7px #bad9005c;
  padding-top: 26px;
  padding-bottom: 34px;
}
.priceRequest1 button {
  box-shadow: 1px 3px 16px #ffdbb038;
}
.contacts {
  margin-top: 149px;
}
.info {
  display: flex;
  margin-top: 52px;
  gap: 149px;
  margin-bottom: 190px;
}
.info div:first-of-type {
  font: normal normal 400 30px "Raleway";
  margin-top: 125px;
  margin-left: 83px;
}
.info div:first-of-type img {
  margin-right: 18px;
}
.info div:first-of-type p {
  padding-bottom: 50px;
}
.info div:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background: url(img/Rectangle\ 43.png) no-repeat;
  background-size: cover;
  width: 540px;
  height: 720px;
}
.info div:last-of-type p {
  font: normal normal 400 30px "Raleway";
  color: #ffffff;
  margin-top: 66px;
  margin-bottom: 36px;
}
.info form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #11100e75;
  margin-bottom: 50px;
}
.info input {
  width: 412px;
  height: 56px;
  border-radius: 10px;
  padding-left: 29px;
  font: normal normal 400 26px "Raleway";
}
.info textarea {
  width: 412px;
  height: 242px;
  border-radius: 10px;
  padding-left: 29px;
  font: normal normal 400 26px "Raleway";
  color: #11100e75;
}
.info button {
  box-shadow: 1px 3px 16px #ffdbb038;
}
.footer {
  background-color: #937a60;
}
.info1 {
  display: flex;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
}
.info1 p {
  padding-right: 127px;
  font: normal normal 700 32px "Playfair Display";
  color: #ffffff;
}
.info1 ul {
  display: flex;
  flex-direction: column;
  width: 259px;
  font: normal normal 400 26px "Raleway";
  color: #ffffff;
}
