* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a:visited {
  color: currentColor;
}
.header {
  background-image: url(http://fe.it-academy.by/Sites/0045836/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1024px;
}
.headertop {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  font-family: Cuprum;
  height: 96px;
  border-bottom: 1px solid #f0f0f0;
}
.container {
  margin: 0 auto;
  width: 1440px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.block {
  float: left;
}

.block2 {
  float: none;
  width: auto;
}
.block3 {
  float: right;
}
.logo {
  border-left: 1px solid #d9d9d9;
  padding-left: 17px;
  margin-left: 107px;
  font-size: 13px;
  margin-right: 62px;
  padding-right: 12px;
  margin-top: 9px;
}
.block1 img {
  float: left;
  padding-right: 17px;
  margin-top: 9px;
}
.block2 li {
  float: left;
  margin-right: 8px;
  font-weight: 700;
  padding: 15px 24px;
  line-height: 123%;
}
.telegram {
  float: right;
  border-left: 1px solid #d9d9d9;
  padding-right: 17px;
  padding-left: 9px;
  margin-top: 8px;
}
.inst {
  float: right;
  margin-left: 62px;
  padding-right: 9px;
  margin-top: 8px;
}
.buttonrecall {
  background-color: #f8b806;
  width: 190px;
  height: 56px;
  color: #242424;
  padding: 8px 24px;
  border: 1px solid #979797;
  font: normal normal 500 16px "Inter";
  border-radius: 10px;
  margin-left: 5px;
  float: right;
}
.container1 {
  margin-top: 280px;
  font-family: Montserrat;
}
.video {
  float: right;
}
.park h1 {
  color: #ffffff;
  font: normal normal 700 72px "Montserrat";
}
.park p:last-of-type {
  color: #ffffff;
  font: normal normal 500 28px "Montserrat";
}
.buttonshow {
  background-color: #ffffff;
  width: 270px;
  height: 60px;
  color: #242424;
  padding: 19px 24px;
  border: 1px solid #979797;
  border-radius: 16px;
  margin-top: 32px;
  font: normal normal 500 18px "Montserrat";
}
.header2 {
  background-color: #242424;
  font: normal normal 700 45px "Montserrat";
  color: #ffffff;
  text-align: center;
  background-image: url(img/des.png), url(img/iconLine.svg);
  background-position: left, right;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 60px;
}
.types {
  background-color: #242424;
}
.blockk {
  float: left;
  width: 475px;
  height: 587px;
  margin-left: 1px;
}
.house1 {
  float: left;
  background-image: url(img/1.jpg);
  background-size: cover;
  background-position: center;
}
.house2 {
  float: right;
  background-image: url(img/4.jpg);
  background-size: cover;
  background-position: center;
}
.house3 {
  background-image: url(img/2.jpg);
  background-size: cover;
  background-position: center;
}
.house4 {
  background-image: url(img/3.png);
  background-size: cover;
  background-position: center;
}
.footer1 {
  background-color: #242424;
  text-align: center;
}
.footer1 button {
  background-color: #f8b806;
  width: 242px;
  height: 52px;
  color: #242424;
  padding: 8px 24px;
  border: 1px solid #979797;
  border-radius: 10px;
  font-weight: 500;
  line-height: 100%;
  font-size: 16px;
  margin-top: 32px;
  font-family: Inter;
}
.container3 {
  margin: 0 auto;
  width: 1905px;
}
.house1 p:first-of-type {
  color: #242424;
  background-color: #ffffff87;
  width: 346px;
  height: 42px;
  margin-top: 12px;
  font: normal normal 600 18px "Montserrat";
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px 20px;
}
.house1 p:last-of-type {
  color: #ffffff;
  background-color: #00000078;
  width: 386px;
  height: 56px;
  margin-top: 461px;
  margin-left: 20px;
  padding: 10px;
  font: normal normal 600 29px "Montserrat";
}
.house2 p:first-of-type {
  color: #242424;
  background-color: #ffffff87;
  width: 231px;
  height: 42px;
  margin-top: 12px;
  font: normal normal 600 18px "Montserrat";
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px 20px;
}
.house2 p:last-of-type {
  color: #ffffff;
  background-color: #00000078;
  width: 172px;
  height: 56px;
  margin-top: 461px;
  margin-left: 20px;
  padding: 10px;
  font: normal normal 600 29px "Montserrat";
}
.house3 p:first-of-type {
  color: #242424;
  background-color: #ffffff87;
  width: 372px;
  height: 42px;
  margin-top: 12px;
  font: normal normal 600 18px "Montserrat";
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px 20px;
}
.house3 p:last-of-type {
  color: #ffffff;
  background-color: #00000078;
  width: 428px;
  height: 56px;
  margin-top: 461px;
  margin-left: 20px;
  padding: 10px;
  font: normal normal 600 29px "Montserrat";
}
.house4 p:first-of-type {
  color: #242424;
  background-color: #ffffff87;
  width: 356px;
  height: 42px;
  margin-top: 12px;
  font: normal normal 600 18px "Montserrat";
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px 20px;
}
.house4 p:last-of-type {
  color: #ffffff;
  background-color: #00000078;
  width: 402px;
  height: 56px;
  margin-top: 461px;
  margin-left: 20px;
  padding: 10px;
  font: normal normal 600 29px "Montserrat";
}
.search {
  background-color: #242424;
}
.container4 {
  color: #ffffff;
  font: normal normal 700 45px "Montserrat";
  padding-top: 85px;
}
.housenumber {
  float: left;
  font-weight: 600;
  font-size: 24px;
}
.numbers {
  float: left;
  margin-top: 50px;
  margin-left: -186px;
}

.numbers > button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5b5b5b;
  float: left;
  margin-top: 16px;
  font: normal normal 500 18px "Montserrat";
  color: #ffffff;
  margin-right: 16px;
}
.numbers button:hover {
  background-color: #f8b806;
}
.flatsearch {
  float: right;
  margin-top: 16px;
  margin-left: 32px;
}
.info {
  background-color: #242424;
  height: 516px;
  background-image: url(img/ad3.png);
  background-repeat: no-repeat;
  background-position: 61% 129%;
}
.container5 {
  padding-top: 43px;
}
.aboutpark {
  width: 726px;
  float: left;
}
h4 {
  font: normal normal 700 45px "Montserrat";
  color: #ffffff;
}
.aboutpark p:first-of-type {
  font: normal normal 400 24px "Montserrat";
  font-family: Montserrat;
  color: #ffffff;
}
.aboutpark p:nth-of-type(2) {
  font: normal normal 600 24px "Montserrat";
  color: #ffffff;
  padding-top: 70px;
  padding-left: 8px;
}
.aboutpark p:last-of-type {
  font: normal normal 450 19px "Montserrat";
  color: #ffffff;
}
.aboutpark + img {
  width: 682px;
  height: 431px;
  float: right;
}
.plusofpark {
  background-color: #242424;
}
.header3 {
  font: normal normal 700 45px "Montserrat";
  color: #ffffff;
  text-align: center;
  background-image: url(img/des.png), url(img/iconLine.svg);
  background-position: left, right;
  background-repeat: no-repeat;
  padding-top: 33px;
  padding-bottom: 33px;
}
.icon {
  float: left;
  text-align: center;
  padding-top: 40px;
  width: 345px;
  height: 250px;
  font: normal normal 600 20px "Montserrat";
  line-height: 150%;
  color: #ffffff;
}
.view {
  margin: 0 auto;
  width: 1905px;
}
.header4 {
  font: normal normal 700 45px "Montserrat";
  color: #ffffff;
  text-align: center;
  background-image: url(img/des.png), url(img/iconLine.svg);
  background-position: left, right;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #242424;
}
.options {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #3f3d42;
  background-image: url(img/Ad1.png);
  background-repeat: no-repeat;
  background-position: 102% 106%;
}
.visual {
  float: left;
}
.complex {
  margin-left: 761px;
  color: #ffffff;
}
.complex h5 {
  font: normal normal 700 28px "Montserrat";
  padding-bottom: 30px;
}
.complex p {
  font: normal normal 500 22px "Montserrat";
  padding-bottom: 30px;
}
.complex p:last-of-type {
  font: italic normal 500 22px "Montserrat";
  padding-bottom: 30px;
}
.complex > button {
  background-color: #f8b806;
  width: 682px;
  height: 60px;
  color: #242424;
  padding: 8px 24px;
  border: 1px solid #979797;
  border-radius: 10px;
  font: normal normal 500 16px "Inter";
}
.header5 {
  font: normal normal 700 45px "Montserrat";
  color: #ffffff;
  text-align: center;
  background-image: url(img/iconLine2.svg), url(img/Ad2.gif);
  background-position: left, right;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #242424;
}
.comfortlife {
  background-color: #242424;
  padding-bottom: 32px;
}
.block > p {
  font: normal normal 400 32px "Montserrat";
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.comfort {
  height: 880px;
  background-color: #242424;
  background-image: url(img/Abstract\ Design2.png);
  background-repeat: no-repeat;
  background-position: 86% 129%;
}
.comfort1 {
  height: 60px;
  background-color: #797979;
}
.comfort1 li {
  float: left;
  padding-top: 19px;
  padding-bottom: 19px;
  font: normal normal 500 18px "Montserrat";
  color: #ffffff;
  padding-right: 100px;
  padding-left: 50px;
  margin-bottom: 40px;
}
.comfort1 li:hover {
  background-color: #f8b806;
}
.flats {
  background-color: #242424;
  padding-bottom: 72px;
}
.flats1 {
  float: left;
}
.container h6 {
  margin-bottom: 67px;
  font: normal normal 600 58px "Montserrat";
  color: #ffffff;
}
.flats1 p:first-of-type {
  font: normal normal 700 45px "Montserrat";
  color: #ffffff;
}
.flats1 p:last-of-type {
  margin-top: 16px;
  font: normal normal 400 32px "Montserrat";
  color: #ffffff;
}
.picturesofflats {
  margin-left: 748px;
}
.picturesofflats img:first-of-type {
  float: right;
  margin-right: -230px;
  margin-top: -209px;
}
.picturesofflats img:last-of-type {
  margin-top: -4px;
}

.zayavka {
  background-color: #3f3d42;
  padding-bottom: 32px;
}
.search1 {
  background-color: #3f3d42;
}
.search1 > p {
  font: normal normal 700 28px "Montserrat";
  color: #ffffff;
  padding-top: 32px;
  padding-bottom: 32px;
}
.search1 form:first-of-type input[type="text"] {
  width: 470px;
  height: 72px;
  background-color: #333335;
  padding: 16px 24px;
  margin-right: 16px;
  border-radius: 10px;
  float: left;
  font: normal normal 500 18px "Montserrat";
  color: #ffffff;
}
input[type="checkbox"] {
  margin-top: 32px;
  height: 24px;
  width: 24px;
  margin-bottom: 32px;
}
.search1 form:last-of-type input[type="text"] {
  width: 1268px;
  height: 72px;
  background-color: #333335;
  padding: 16px 24px;
  margin-right: 16px;
  border-radius: 10px;
  font: normal normal 500 18px "Montserrat";
  color: #ffffff;
  text-align: center;
}
label {
  padding-left: 15px;
}
label > span {
  color: #f8b806;
  font: normal normal 400 22px "Montserrat";
}
form {
  color: #ff3f3f;
  font: normal normal 400 22px "Montserrat";
}
.search1 > button:first-of-type {
  background-color: #f8b806;
  width: 468px;
  height: 72px;
  color: #242424;
  padding: 8px 24px;
  border: 1px solid;
  border-radius: 10px;
  font: normal normal 500 16px "Inter";
}
form:last-of-type {
  float: left;
}
.search1 > button:nth-of-type(2) {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: #333335;
}
.search1 > button:nth-of-type(3) {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: #333335;
  margin-left: 16px;
}
.map {
  background-color: #242424;
  height: 449px;
  text-align: center;
  overflow: hidden;
}
.footer {
  height: 376px;
  background-color: #242424;
  border-bottom: 2px solid #ffffff66;
  border-top: 2px solid #ffffff66;
}
.re {
  padding-top: 64px;
  font: normal normal 500 16px "Montserrat";
  color: #ffffff;
  float: left;
}
.re > p {
  padding-top: 16px;
  padding-bottom: 8px;
}
.re > button {
  background-color: #f8b806;
  width: 194px;
  height: 50px;
  color: #ffff;
  padding: 5px 8px;
  border: 1px solid #979797;
  border-radius: 16px;
  font: normal normal 500 16px "Montserrat";
}
.navigation {
  float: right;
  padding-top: 156px;
  margin-right: -23px;
  font: normal normal 500 20px "Montserrat";
  color: #ffff;
}
.n1 {
  float: left;
  margin-right: 120px;
}
.n2 {
  float: right;
}
.n1 > li {
  padding-bottom: 20px;
}
.n2 > li {
  padding-bottom: 20px;
}
.gg {
  background-color: #242424;
  height: 116px;
}
.gg > p {
  font: normal normal 400 14px "Montserrat";
  color: #ffffff;
  padding-top: 21px;
}
